.mufa {
	background-color: rgba(0, 0, 0, 0.957);
	border: 2px solid rgb(152, 9, 9);
	width: 450px;
	height: 450px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	margin-left: 450px;
	margin-top: 30px;
	border-radius: 15px;
	color: white;
}
.mufa:hover {
	transition: 1s;
	box-shadow: 0 0 35px aqua;
}
.foto {
	width: 250px;
	height: 200px;
	border-radius: 10px;
}
.Contact {
	.content {
		.musa {
			display: flex;
			justify-content: space-between;
			z-index: 1;
		}
		.cars {
			margin-top: 20px;
			width: 400px;
			height: 400px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			border: 2px solid black;
			border-radius: 10px;
			padding: 15px;
			margin-bottom: 30px;

			.imgs {
				width: 250px;
				height: 200px;
				border-radius: 10px;
			}
		}
		.cars:hover {
			margin-top: 20px;
			width: 400px;
			height: 400px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			box-shadow: 25px 5px 15px 15px rgb(9, 21, 21);
			border: 2px solid rgb(165, 17, 17);
			border-radius: 10px;
			padding: 10px;
			cursor: grab;
		}
	}
}
